<img src="img_header.jpg" alt=""> 
<div margin=10> <h1> Herzlich Willkommen! </h1> </div>

<div> <p> Wir sind der Vielfalter KL e.V., ein gemeinnütziger Verein aus Kaiserslautern. Mit unserem interkulturellen Café in der Pirmasenser Straße 20 bieten wir einen Ort für Begegnungen für alle Menschen.</p> </div>


{%- assign posts = paginator.posts | default: site.posts -%}
{% for post in posts %}
  <article>
    {% include meta.html post=post preview=true %}
    {{ post.excerpt }}
    <div class="more"><a href="{{ post.url | relative_url }}">Weiterlesen...</a></div>
  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">« Neuere Beiträge </a>{% else %}<span></span>{% endif %}
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">Ältere Beiträge »</a>{% else %}<span></span>{% endif %}
  </footer>
{% endif %}
